// Общие стили начало
body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 16px;
    color: #333333;
}

.container {
    max-width: 1200px;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// buttons start
.btn-red,
.btn-blue {
    width: 210px;
    height: 45px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    font-size: 18px;
    color: white;

    .fa {
        margin-right: 20px;
    }
}

.btn-red {
    background: $colorRed;
    

    &:hover {
        background: white;
        color: $colorRed;
        border: 1px solid $colorRed;
    }
}

.btn-blue {
    background: $colorBlue;

    &:hover {
        background: white;
        color: $colorBlue;
        border: 1px solid $colorBlue;
    }
}
// buttons end


// reset style bootstrap start
.nav-tabs .nav-link {
    border: none;
    padding-bottom: 10px;
}
    // reset style bootstrap end



// Общие стили конец


//  block header START
#header {

    // menu contacts
    .header-contacts {
        background: #474747;
        color: white;
        font-size: 12px;
        padding: 10px 0;

        .fa {
            margin-right: 5px;
        }

        .item-dark-login {

            a {
                transition-duration: 0.7s;

                &:hover {
                    color: rgb(209, 76, 76);
                    cursor: pointer;
                }
            }
        }

        .items-contacts {
            transition-duration: 0.7s;

            &:hover {
                color: rgb(209, 76, 76);
                cursor: pointer;
            }
        }
    }

    // main menu start


    // стили для фиксации меню при скроле начало
    .fixed-top {
        z-index: 99999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        background: #f2f2f2;
        max-width: 100%;

        .navbar-brand {
            padding-left: 6%;
        }

       .navbar-nav {
           padding-right: 6%;
       }
    }
    // стили для фиксации меню при скроле конец

    .header-main-menu {
        background: #f2f2f2;

        .navbar-brand {
            margin-left: 10px;
        }

        .navbar {
            padding: 3px 5px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    // main menu end

    // header-submenu start
    .header-submenu {
        background: $colorBlue;

        .dropdown {
            padding: 25px 0;

            .btn-secondary {
                width: 305px;
                height: 50px;
                background: $colorRed;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .bars {
                    width: 27px;
                    height: 2px;
                    background: white;
                    position: relative;

                    &::before {
                        content: '';
                        width: 27px;
                        height: 2px;
                        background: white;
                        position: absolute;
                        bottom: 7px;
                        left: 0;
                    }

                    &::after {
                        content: '';
                        width: 27px;
                        height: 2px;
                        background: white;
                        position: absolute;
                        top: 7px;
                        left: 0;
                    }
                }

                .arrow-duwn {
                    span {
                        width: 12px;
                        height: 12px;
                        border-left: 1px solid wheat;
                        border-bottom: 1px solid wheat;
                        display: block;
                        transform: rotate(-45deg);
                        margin-bottom: 7px;
                    }
                }
            }

            .dropdown-menu {
                width: 305px;
            }

            .dropdown-toggle::after {
                display: none;
            }
        }

        .form-inline {
            position: relative;

            .form-control {
                width: 420px;
                height: 50px;
                border-radius: 0;
            }

            .btn-search {
                position: absolute;
                right: 0;
                color: $colorBlue;
                border-left: 2px solid #9aa2b5;
                border-radius: 0;
                height: 100%;
                width: 90px;
                font-size: 20px;

                .fa-search {
                    margin-right: 7px;
                }
            }
        }


        .submenu-block-icons {
            color: white;
            display: flex;
            // justify-content: space-between;
            justify-content: end;
            
            

            a {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                transition: 0.7s;

                &:hover {
                    color: $colorRed;
                }

                .fa {
                    font-size: 27px;
                    margin-bottom: 10px;

                    &:hover {
                        color: yellow;
                    }
                }

                span {
                    padding: 0 50px;
                }
            }
        }
    }
}
//  block header END


// section-breadcrumb strart
.section-breadcrumb {
    .breadcrumb {
        background: none;
        padding-top: 30px;
        font-size: 15px;

        .breadcrumb-item + .breadcrumb-item::before {
            display: none;
        }

        .breadcrumb-item {
            
            .fa-chevron-right{
                color: $colorBlue;
                margin-left: 5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .active:hover {
            text-decoration: none;
        }
    }
}
// section-breadcrumb end



// section-product start
.section-product {
    padding-bottom: 60px;

    // style for gallery start
    .gallery {
        .gallery-main {
            width: 100%;
            height: 435px;
    
            .fa-share-alt {
                color: #828282;
                font-size: 20px;
                padding: 10px;
    
                &:hover {
                    color: $colorBlue;
                }
            }
        }
    
        .gallery-main,
        .gallery-item {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: 1px solid rgb(221, 212, 212);
        }
    
        .gallery-list {
    
            .gallery-item {
                width: 175px;
                height: 150px;
                margin-top: 25px;
                cursor: pointer;
            }
    
            .active {
                border: 2px solid #828282;
            }
        }  
    }
    // style for gallery end

    .product-links {
        padding-top: 35px;


        a {
            color: $colorBlue;
            text-decoration: underline;
            padding-left: 10px;

            &:hover {
                color: $colorRed;
            }
        }
    }

    .product-links > span {
        padding-right: 50px;
    }


    // right block "tabs" 
    .product-tabs {
        
        .product-head {
            font-size: 26px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        .price-product {
            padding-top: 60px;

            span {
                font-size: 26px;
                font-weight: 600;
                padding-left: 30px;
            }
        }

        .product-btn {
            padding: 30px 0 70px;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            .btn-icon {
                width: 45px;
                height: 45px;
                background: #828282;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.7s;

                &:hover {
                    background: yellow;
                    color: #333333;
                    border: 1px solid #333333;
                }
            }
        }

        // Tabs strart
        .nav-tabs .nav-link.active {
            border-bottom: 2px solid $colorBlue;
        }

        .nav-tabs {
            border-bottom: 2px solid #dee2e6;
        }

        .tab-content {
            padding-top: 20px;

            p {
                padding: 15px 0;
            }
        }

        .nav-link {
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .nav-tabs .nav-item {
            margin-bottom: -2px;


            &:hover {
                color: $colorRed;
            }
        }
        // Tabs end
    }
    // right block "tabs" end
}
// section-product end


// section-product-description start
.section-product-description {
    padding-bottom: 90px;

    .nav-tabs {
        border: 1px solid #707070;
        margin-bottom: 15px;

        img {
            position: absolute;
            right: 20px;
            top: 9px;
        }
    }

    .nav-tabs .nav-link.active {
        background: #474747;
        color: white;

        &:hover {
            color: white;
        }
    }

    .nav-tabs .nav-link {
        border-radius: 0;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 15px 0;
        position: relative;

        &:hover {
            color: $colorRed;
        }

        &::after {
            content: '';
            width: 1px;
            height: 25px;
            background: #474747;
            position: absolute;
            right: -1px;
            top: 11px;
        }
    }

    .tab-content {

        .characteristic {

            li {
                padding: 12px 0;

                div {
                    margin: 0 1px;
                }
            }

            .dottet {
                border-bottom: 2px dotted grey;
                flex-grow: 1;
            }
        }
    }
}
// section-product-description end


// section-buy-this start
.section-buy-this {
    padding-bottom: 145px;

    h4 {
        padding-bottom: 35px;
        font-weight: 600;
        font-size: 24px;
    }

    .product-cards {
        border: 1px solid #828282;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0;
        height: 100%;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        &:hover {
            box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        }

        .product-cards-img {
            width: 200px;
            height: 200px;
            

            &:hover {
                border: 1px solid #9aa2b5;
            }

            img {
                max-height: 170px;
                padding: 5px;
            }
        }

        .product-card-description {
            padding-top: 40px;
            line-height: 1.5em;

            &:hover {
                text-decoration: underline;
            }
        }

        .product-card-price {
            font-weight: 600;
            font-size: 20px;
        }

        .btn-red {
            max-width: 180px;
        }

        .wrapper {
            height: 100px;
            margin-top: 30px;
        }

        .product-top {
            position: absolute;
            top: 10px;
            left: 10px;

            .red-circle {
                width: 30px;
                height: 30px;
                background: $colorRed;
                border-radius: 50%;
            }

            .blue-cicle {
                width: 50px;
                height: 50px;
                background: $colorBlue;
                border-radius: 50%;
                color: white;
                font-size: 12px;
                margin-top: -24px;
                margin-left: 8px;
                transition: 0.8s;

                &:hover {
                    width: 60px;
                    height: 60px;
                    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
                }
            }
        }
    }
}
//section-buy-this end

// footer start
.footer {
    font-size: 14px;
    background: #f2f2f2;
    padding: 30px 0 40px;

    .footer-item-logo {

       img {
           padding-bottom: 20px;
       }

        span {
            font-weight: 600;
            margin-right: 5px;
        }
    }

    .footer-item-menu {

        .active {
            font-weight: 600;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                text-transform: uppercase;

               a {
                    &:hover {
                        text-decoration: underline;
                    }
               }
                
            }
        }
    }

    .footer-item-subscribe {

        span {
            font-size: 15px;
        }
        
        .form-inline {
            padding-top: 15px;

            .form-control {
                width: 100%;
                border-radius: 0;
                padding: 0;
                font-size: 14px;
                max-width: 163px;
                height: 40px;

            }

            .btn-subscribe {
                background: $colorBlue;
                color: white;
                border-radius: 0;
                height: 40px;

                &:hover {
                    background: $colorRed;
                }
            }

        }

        .fa {
            font-size: 25px;
            transition: 0.7s;
        }

        .fa-facebook-official:hover {
            color: $colorBlue;
        }

        .fa-whatsapp {
            padding: 0 20px;
            

            &:hover {
                color: rgb(23, 184, 23);
            }
        }

        .fa-paper-plane-o:hover {
            color: teal;
        }
    }
}
// footer end