// Общие стили начало
body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 16px;
    color: #333333;
}

.container {
    max-width: 1200px;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

// buttons start
.btn-red,
.btn-blue {
    width: 210px;
    height: 45px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    font-size: 18px;
    color: white;

    .fa {
        margin-right: 20px;
    }
}

.btn-red {
    background: $colorRed;
    

    &:hover {
        background: white;
        color: $colorRed;
        border: 1px solid $colorRed;
    }
}

.btn-blue {
    background: $colorBlue;

    &:hover {
        background: white;
        color: $colorBlue;
        border: 1px solid $colorBlue;
    }
}
// buttons end


// reset style bootstrap start
.nav-tabs .nav-link {
    border: none;
    padding-bottom: 10px;
}
// reset style bootstrap end


// Общие стили конец


//  block header START
#header {
    // menu contacts
    .header-contacts {
        background: $colorGrey;
        color: white;
        font-size: 12px;
        padding: 10px 0;

        .fa {
            margin-right: 5px;
        }

        .item-dark-login {

            a {
                transition-duration: 0.7s;

                &:hover {
                    color: rgb(209, 76, 76);
                    cursor: pointer;
                }
            }
        }

        .items-contacts {
            transition-duration: 0.7s;

            &:hover {
                color: rgb(209, 76, 76);
                cursor: pointer;
            }
        }
    }

    // main menu start


    // стили для фиксации меню при скроле начало
    .fixed-top {
        z-index: 99999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        background: $colorLightGrey;
        max-width: 120%;

        .navbar-brand {
            padding-left: 3%;
        }

       .navbar-nav {
           padding-right: 3%;
       }
    }
    // стили для фиксации меню при скроле конец

    .header-main-menu {
        background: $colorLightGrey;

        .navbar-brand {
            margin-left: 10px;
        }

        .navbar {
            padding: 3px 5px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    // main menu end

    // header-submenu start
    .header-submenu {
        background: $colorBlue;

        .dropdown {
            padding: 25px 0;

            .btn-secondary {
                max-width: 305px;
                height: 50px;
                background: $colorRed;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .bars {
                    width: 27px;
                    height: 2px;
                    background: white;
                    position: relative;

                    &::before {
                        content: '';
                        width: 27px;
                        height: 2px;
                        background: white;
                        position: absolute;
                        bottom: 7px;
                        left: 0;
                    }

                    &::after {
                        content: '';
                        width: 27px;
                        height: 2px;
                        background: white;
                        position: absolute;
                        top: 7px;
                        left: 0;
                    }
                }

                .arrow-duwn {
                    span {
                        width: 12px;
                        height: 12px;
                        border-left: 1px solid wheat;
                        border-bottom: 1px solid wheat;
                        display: block;
                        transform: rotate(-45deg);
                        margin-bottom: 7px;
                    }
                }
            }

            .dropdown-menu {
                max-width: 305px;
                width: 100%;
            }

            .dropdown-toggle::after {
                display: none;
            }
        }

        .form-inline {
            position: relative;

            .form-control {
                max-width: 420px;
                height: 50px;
                border-radius: 0;
                width: 100%;
            }

            .btn-search {
                position: absolute;
                right: 0;
                color: $colorBlue;
                border-left: 2px solid $colorLightGrey;
                border-radius: 0;
                max-width: 90px;
                font-size: 20px;
                width: 100%;
                height: 100%;
                background: white;

                .fa-search {
                    margin-right: 7px;
                }
            }
        }


        .submenu-block-icons {
            color: white;
            display: flex;
            justify-content: end;

            a {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                transition: 0.7s;

                &:hover {
                    color: $colorRed;
                }

                .fa {
                    font-size: 27px;
                    margin-bottom: 10px;

                    &:hover {
                        color: yellow;
                    }
                }

                span {
                    padding: 0 50px;
                }
            }
        }
    }
}
//  block header END


// section-breadcrumb strart
.section-breadcrumb {
    .breadcrumb {
        background: none;
        padding-top: 30px;
        font-size: 15px;

        .breadcrumb-item + .breadcrumb-item::before {
            display: none;
        }

        .breadcrumb-item {
            .fa-chevron-right{
                color: $colorBlue;
                margin-left: 5px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .active:hover {
            text-decoration: none;
        }
    }
}
// section-breadcrumb end


// section-product start
.section-product {
    padding-bottom: 60px;

    // style for gallery start
    .gallery {
        .gallery-main {
            width: 100%;
            height: 435px;
    
            .fa-share-alt {
                color: $colorGrey;
                font-size: 20px;
                padding: 10px;
    
                &:hover {
                    color: $colorBlue;
                }
            }
        }
    
        .gallery-main,
        .gallery-item {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: 1px solid $colorLightGrey;
        }
    
        .gallery-list {

            .medium {
                margin: 0 25px;
            }
            
            .gallery-item {
                max-width: 175px;
                height: 150px;
                margin-top: 25px;
                cursor: pointer;
                width: 100%;
            }
    
            .active {
                border: 2px solid $colorGrey;
            }
        }  
    }
    // style for gallery end

    .product-links {
        padding-top: 35px;

        a {
            color: $colorBlue;
            text-decoration: underline;
            padding-left: 10px;

            &:hover {
                color: $colorRed;
            }
        }
    }

    .product-links :nth-child(1) > a {
        margin-right: 50px;
    }

    // right block "tabs" 
    .product-tabs {
        
        .product-head {
            font-size: 26px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        .price-product {
            padding-top: 60px;

            span {
                font-size: 26px;
                font-weight: 600;
                padding-left: 30px;
            }
        }

        .product-btn {
            padding: 30px 0 70px;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            .btn-red,
            .heart {
                margin-right: 20px;
            }

            .btn-icon {
                width: 45px;
                height: 45px;
                background: $colorGrey;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.7s;

                &:hover {
                    background: yellow;
                    color: $colorGrey;
                    border: 1px solid $colorGrey;
                }
            }
        }

        // Tabs strart
        .nav-tabs .nav-link.active {
            border-bottom: 2px solid $colorBlue;
        }

        .nav-tabs {
            border-bottom: 2px solid $colorLightGrey;
        }

        .tab-content {
            padding-top: 20px;

            p {
                padding: 15px 0;
            }
        }

        .nav-link {
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .nav-tabs .nav-item {
            margin-bottom: -2px;


            &:hover {
                color: $colorRed;
            }
        }
        // Tabs end
    }
    // right block "tabs" end
}
// section-product end


// section-product-description start
.section-product-description {
    padding-bottom: 90px;

    .nav-tabs {
        border: 1px solid $colorGrey;
        margin-bottom: 15px;

        img {
            margin-left: 10px;
        }
    }

    .nav-tabs .nav-link.active {
        background: $colorGrey;
        color: white;

        &:hover {
            color: white;
        }
    }

    .nav-tabs .nav-link {
        border-radius: 0;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 10px 0;
        position: relative;

        &:hover {
            color: $colorRed;
        }

        &::after {
            content: '';
            width: 1px;
            height: 25px;
            background: $colorGrey;
            position: absolute;
            right: -1px;
            top: 11px;
        }
    }

    .tab-content {

        .characteristic {

            li {
                padding: 12px 0;

                div {
                    margin: 0 1px;
                }
            }

            .dottet {
                border-bottom: 2px dotted $colorGrey;
                flex-grow: 1;
            }
        }
    }
}
// section-product-description end


// section-buy-this start
.section-buy-this {
    padding-bottom: 145px;

    h4 {
        padding-bottom: 35px;
        font-weight: 600;
        font-size: 24px;
    }

    .product-cards {
        border: 1px solid $colorGrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px 0;
        height: 100%;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        &:hover {
            box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
        }

        .product-cards-img {
            width: 200px;
            height: 200px;
            

            &:hover {
                border: 1px solid $colorGrey;
            }

            img {
                max-height: 170px;
                padding: 5px;
            }
        }

        .product-card-description {
            padding-top: 40px;
            line-height: 1.5em;

            &:hover {
                text-decoration: underline;
            }
        }

        .product-card-price {
            font-weight: 600;
            font-size: 20px;
        }

        .btn-red {
            max-width: 180px;
        }

        .wrapper {
            height: 100px;
            margin-top: 30px;
        }

        .product-top {
            position: absolute;
            top: 10px;
            left: 10px;

            .red-circle {
                width: 30px;
                height: 30px;
                background: $colorRed;
                border-radius: 50%;
            }

            .blue-cicle {
                width: 50px;
                height: 50px;
                background: $colorBlue;
                border-radius: 50%;
                color: white;
                font-size: 12px;
                margin-top: -24px;
                margin-left: 8px;
                transition: 0.8s;

                &:hover {
                    width: 60px;
                    height: 60px;
                    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
                }
            }
        }
    }
}
//section-buy-this end

// footer start
.footer {
    font-size: 14px;
    background: $colorLightGrey;
    padding: 30px 0 40px;

    .footer-item-logo {

       img {
           padding-bottom: 20px;
       }

        span {
            font-weight: 600;
            margin-right: 5px;
        }
    }

    .footer-item-menu {

        .active {
            font-weight: 600;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                text-transform: uppercase;
                line-height: 1.2em;

               a {
                    &:hover {
                        text-decoration: underline;
                    }
               }
                
            }
        }
    }

    .footer-item-subscribe {

        span {
            font-size: 15px;
        }
        
        .form-inline {
            padding-top: 15px;

            .form-control {
                width: 100%;
                border-radius: 0;
                padding: 0;
                font-size: 14px;
                max-width: 163px;
                height: 40px;

            }

            .btn-subscribe {
                background: $colorBlue;
                color: white;
                border-radius: 0;
                height: 40px;

                &:hover {
                    background: $colorRed;
                }
            }

        }

        .fa {
            font-size: 25px;
            transition: 0.7s;
        }

        .fa-facebook-official:hover {
            color: $colorBlue;
        }

        .fa-whatsapp {
            padding: 0 20px;
            

            &:hover {
                color: rgb(23, 184, 23);
            }
        }

        .fa-paper-plane-o:hover {
            color: teal;
        }
    }
}
// footer end


// Adapt Pages start
@media screen and (max-width: 1194px) {

    .section-product {

        .product-btn {
            flex-direction: column;

            .product-btn-icon {
                padding-top: 15px;
            }
        }
    }

    .footer {

        .footer-item-logo > div {
            flex-direction: column;

            :first-child > span {
                padding-right: 5px;
                
            }

            :last-child {
                padding-top: 10px;

            }

        }

        .footer-item-subscribe {

            .form-inline {
                padding-top: 10px;

                .form-control {
                    max-width: 100%;
                }

                .btn-subscribe {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {

    .fixed-top {

       .navbar-nav {
        margin-right: 1;
       }
    }


    .navbar {

        .navbar-toggler {
            margin-right: 30px;
        }

        .navbar-collapse {

            .navbar-nav {
                float: right;
                display: flex;
                align-items: flex-end;
                margin-right: 30px;
            }
        }
    }

    .section-product .gallery .gallery-list .gallery-item {
        height: 120px;
    }


    #header {

        .fixed-top {

            .navbar-nav {
                padding-right: 0;
            }
        }

        .header-submenu {

            .dropdown {

                .btn-secondary,
                .dropdown-menu {
                    max-width: 100%;
                }
            }

            .form-inline {

                .form-control {
                    max-width: 100%;
                }
            }

            .submenu-block-icons {
                justify-content: center;
                padding-bottom: 20px;
            }
        }

    }

    .section-buy-this {
        padding-bottom: 100px;

        .row {
            justify-content: center;

            .col-md-5 {
                margin-top: 30px;
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    
    #header {
        .header-contacts {
            .row {
                flex-direction: column-reverse;
                align-items: center;

                .item-dark-login {
                    padding-bottom: 15px;
                    max-width: 100%;
                }

                .col-md-9 {
                    max-width: 100%;
                }
            }
        }
    }

    .btn-red .fa, .btn-blue .fa {
        margin-right: 10px;
    }

    .section-product {

        .nav-tabs,
        .tab-content {
            font-size: 15px;
        }
    }
}


@media screen and (max-width: 768px) {
    #header .header-contacts .row .col-md-9 {

        flex-direction: column;
        align-items: center;

        .items-contacts {
            padding-top: 15px;
        }
    }

    .item-dark-login {
        display: flex;
        justify-content: center;

        a {
            padding: 0 5px;
        }
    }

    .section-product {
        .gallery {
            .gallery-list {
                .gallery-item {
                    height: 150px;
                }
            }
        }

        .product-tabs {
            .product-head {
                font-size: 22px;
                padding-top: 50px;
            }

            .price-product {
                padding-top: 25px;
        
                span {
                    font-size: 22px;
                }
            }
        }
    }

    #header {
        .header-submenu {
            .form-inline {
                .btn-search {
                    max-width: 55px;
                }
            }

            .submenu-block-icons {
                justify-content: space-around;
            }
        }
    }



    .section-product-description {

        .nav-tabs {
            font-size: 14px;

            .nav-link {
                padding: 16px 0;
            }

            img {
                display: none;
            }
        }

        .tab-content {
            font-size: 14px;
        }
    }

    .footer {

        .col-sm-6 {
            padding-top: 30px;
            
            ul {
                li {
                    line-height: 1.4em;
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    #header {
        .header-submenu {
            .submenu-block-icons {
                justify-content: space-between;
                padding-top: 20px;
            }
        }
    }

    .section-breadcrumb {
        .breadcrumb {
            display: flex;
            flex-direction: column;
            line-height: 1.5em;

            .breadcrumb-item.active {
                padding-left: 15px;
            }
        }
    }

    .section-product-description {

        .nav-tabs {
            flex-direction: column;
        }
    }

    .section-product {
        .gallery {
            .gallery-list {
                .gallery-item {
                    height: 120px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #header .header-submenu .submenu-block-icons a span {
        padding: 0;
    }

    .section-product {
        .gallery {
            .gallery-list {
                .gallery-item {
                    height: 90px;
                }
            }
        }

        .btn-red,
        .btn-blue {
            font-size: 16px;
            flex-direction: column;

            .fa {
                margin: 0 0 4px;
            }
        }

        

        .product-tabs {
            nav {
                border: 1px solid $colorGrey;

                .nav-tabs {
                    flex-direction: column;

                    .nav-link.active {
                        border: none;
                        background: $colorGrey;
                        color: white;
                        border-radius: 0;
                    }
                }
            }

            .tab-content {
                text-align: center;
            } 
        }

        .product-links {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            span {
                margin: 5px 0;
            }
        }
    }

    .section-product-description {
        
        .tab-content {
            font-size: 13px;
        }
    }

    .footer {
        font-size: 13px;
    }
} 

// Adapt Pages end